@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dx2tpm');
  src:  url('fonts/icomoon.eot?dx2tpm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dx2tpm') format('truetype'),
    url('fonts/icomoon.woff?dx2tpm') format('woff'),
    url('fonts/icomoon.svg?dx2tpm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xvubK101:before {
  content: "\e900";
}
.icon-bS3hqhPcI:before {
  content: "\e901";
}
.icon-xO9CGTJI7:before {
  content: "\e902";
}
.icon-VEjpOkSKb:before {
  content: "\e903";
}
.icon-K1Aj4QIxF:before {
  content: "\e904";
}
.icon-l07u7La96:before {
  content: "\e905";
}
.icon-L8sfBp4ei:before {
  content: "\e906";
}
.icon-xbTmnUTVD:before {
  content: "\e907";
}
.icon-NIS0Tll58:before {
  content: "\e908";
}
.icon-yk7zUReS:before {
  content: "\e909";
}
.icon-A9fMUtyppW:before {
  content: "\e90a";
}
.icon-aeTNDT8dUA:before {
  content: "\e90b";
}
.icon-BcW5oGDVBI:before {
  content: "\e90c";
}
.icon-BvupRT1b3t:before {
  content: "\e90d";
}
.icon-CG0tW4jKUS:before {
  content: "\e90e";
}
.icon-cRvl1lMTj3:before {
  content: "\e90f";
}
.icon-EVJhy5XXCv:before {
  content: "\e910";
}
.icon-EXDUivHBQe:before {
  content: "\e911";
}
.icon-GDLpshqE3q:before {
  content: "\e912";
}
.icon-GeXAasTrVd:before {
  content: "\e913";
}
.icon-GmjDhjfQ0O:before {
  content: "\e914";
}
.icon-GpAiDtyqwK:before {
  content: "\e915";
}
.icon-GRMKOCHQhl:before {
  content: "\e916";
}
.icon-HVU9lmBWRg:before {
  content: "\e917";
}
.icon-iK17qxS3fh:before {
  content: "\e918";
}
.icon-Inem6WeK41:before {
  content: "\e919";
}
.icon-lU2gMwquHT:before {
  content: "\e91a";
}
.icon-obcwuIq6zB:before {
  content: "\e91b";
}
.icon-OPKuPNvfxw:before {
  content: "\e91c";
}
.icon-pLmUOxr01:before {
  content: "\e91d";
}
.icon-qojI2Enn4g:before {
  content: "\e91e";
}
.icon-rDmkrM4EE8:before {
  content: "\e91f";
}
.icon-REhkUmhOGD:before {
  content: "\e920";
}
.icon-RJchgee9I0:before {
  content: "\e921";
}
.icon-U5Umi7Wr7e:before {
  content: "\e922";
}
.icon-ubv6xHM5pA:before {
  content: "\e923";
}
.icon-UrUcOHOC5z:before {
  content: "\e924";
}
.icon-VFebAua2NH:before {
  content: "\e925";
}
.icon-vQMHxuaJJE:before {
  content: "\e926";
}
.icon-VRPzA6Urc5:before {
  content: "\e927";
}
.icon-VU6F6MBx8i:before {
  content: "\e928";
}
.icon-vzqylS10me:before {
  content: "\e929";
}
.icon-w4UDtFI7pa:before {
  content: "\e92a";
}
.icon-wDswKy67Mx:before {
  content: "\e92b";
}
.icon-WgIOFim4oN:before {
  content: "\e92c";
}
.icon-wNrjF1e01:before {
  content: "\e92d";
}
.icon-wy8qDpC7gh:before {
  content: "\e92e";
}
.icon-x7Iuc2riEN:before {
  content: "\e92f";
}
.icon-yxDIxoMqbR:before {
  content: "\e930";
}
