.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-xvubK101 {
  width: 1.0322265625em;
}

.icon-K1Aj4QIxF {
  width: 1.375em;
}

.icon-xbTmnUTVD {
  width: 0.689453125em;
}

.icon-yk7zUReS {
  width: 1.0634765625em;
}

.icon-aeTNDT8dUA {
  width: 0.9345703125em;
}

.icon-BcW5oGDVBI {
  width: 1.13671875em;
}

.icon-BvupRT1b3t {
  width: 1.5869140625em;
}

.icon-CG0tW4jKUS {
  width: 1.13671875em;
}

.icon-cRvl1lMTj3 {
  width: 1.3916015625em;
}

.icon-EVJhy5XXCv {
  width: 1.142578125em;
}

.icon-EXDUivHBQe {
  width: 0.75em;
}

.icon-GmjDhjfQ0O {
  width: 0.876953125em;
}

.icon-GRMKOCHQhl {
  width: 0.751953125em;
}

.icon-HVU9lmBWRg {
  width: 1.0986328125em;
}

.icon-iK17qxS3fh {
  width: 1.142578125em;
}

.icon-lU2gMwquHT {
  width: 0.689453125em;
}

.icon-obcwuIq6zB {
  width: 1.142578125em;
}

.icon-OPKuPNvfxw {
  width: 1.03125em;
}

.icon-pLmUOxr01 {
  width: 0.6875em;
}

.icon-rDmkrM4EE8 {
  width: 1.4541015625em;
}

.icon-ubv6xHM5pA {
  width: 1.185546875em;
}

.icon-UrUcOHOC5z {
  width: 0.689453125em;
}

.icon-vQMHxuaJJE {
  width: 1.13671875em;
}

.icon-VRPzA6Urc5 {
  width: 1.234375em;
}

.icon-VU6F6MBx8i {
  width: 1.3330078125em;
}

.icon-vzqylS10me {
  width: 1.515625em;
}

.icon-w4UDtFI7pa {
  width: 1.0634765625em;
}

.icon-wDswKy67Mx {
  width: 0.876953125em;
}

.icon-WgIOFim4oN {
  width: 1.2802734375em;
}

.icon-x7Iuc2riEN {
  width: 0.875em;
}
